name: Docker Image build CI

on:
  pull_request:
    branches: 
    - master
  push:
    branches: 
    - release/*

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clean Workspace
        uses: AutoModality/action-clean@v1
        
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: floryn90
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Prepare
        run: make prepare

      - name: Build
        run: make build

      - name: Upload target content
        uses: actions/upload-artifact@v3
        with:
          name: target
          path: target

      - name: Test Docsy
        run: make test-docsy

      - name: Test DocuAPI
        run: make test-docuapi

      - name: Push edge images
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: make push-edge
