name: Docker Image release

on:
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      push_to_registry:
        description: 'Push to registry'
        required: true
        default: 'true'

jobs:
  BuildImages:
    runs-on: ubuntu
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      
      - name: Clean Workspace
        uses: AutoModality/action-clean@v1
        
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build essential
        uses: ./.github/actions/install_deps  

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: floryn90
          password: ${{ secrets.DOCKER_TOKEN }}
          
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: floryn90/hugo

      - name: Prepare
        shell: bash
        run: make prepare

      - name: Build
        shell: bash
        run: make build

      - name: Upload target content
        uses: actions/upload-artifact@v4
        with:
          name: target
          path: target

      - name: Push images
        if: startsWith(github.ref, 'refs/tags/') || github.event.inputs.push_to_registry == 'true'
        shell: bash
        run: make push-release

      # - name: Attest
      #   uses: actions/attest-build-provenance@v1
      #   with:
      #     subject-path: 'docker.io/floryn90/hugo'
      #     subject-name: 'floryn90/hugo'
      #     push-to-registry: true        
      
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: floryn90
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: floryn90/hugo
